/*
COLORS



*/
:root {
  --color-Primary: #eb2f64;
  --color-Primary-light: #FF3366;
  --color-Primary-dark: #BA265D;
  --color-Grey-light-1: #faf9f9;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;
  --black-shadow:1rem 1rem 1rem rgba(#000,0.4); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right bottom, var(--color-Primary-light), var(--color-Primary-dark));
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-Grey-dark-2);
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.logo {
  height: 3rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  height: 3rem;
  align-items: stretch; }
  @media screen and (max-width: 29.4375em) {
    .search {
      order: 1;
      flex: 1 1 100%;
      background-color: var(--color-Grey-light-2);
      justify-content: flex-start; } }
  .search__input {
    font-family: inherit;
    font-size: 1.2rem;
    margin-right: -3.5rem;
    width: 90%;
    transition: all 0.2s;
    color: var(--color-Grey-dark-2);
    border: var(--color-Grey-light-2);
    border-radius: 100px;
    background-color: var(--color-Grey-light-2);
    padding: 1rem 2rem; }
    .search__input:focus {
      width: 100%;
      background-color: var(--color-Grey-light-3);
      outline: none; }
    @media screen and (max-width: 29.4375em) {
      .search__input {
        margin-right: -5.5rem;
        width: 90%; }
        .search__input:focus {
          width: 90%;
          background-color: var(--color-Grey-light-3);
          outline: none; } }
  .search__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-Grey-dark-2); }
  .search__button {
    align-self: center;
    border: none;
    height: 2rem;
    background-color: var(--color-Grey-light-2); }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 29.4375em) {
    .header {
      height: 10rem;
      flex-wrap: wrap;
      align-content: space-around; } }
  .header__nav {
    align-self: stretch;
    display: flex; }
    .header__nav > * {
      display: flex;
      align-items: center;
      padding: 0 2rem;
      font-family: inherit;
      font-size: 1rem;
      cursor: pointer;
      height: 100%; }
    .header__nav > *:hover {
      background-color: var(--color-Grey-light-4); }
    .header__nav__icon-box {
      position: relative; }
    .header__nav__icon-notification {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 0.8rem;
      position: absolute;
      background-color: var(--color-Primary);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      top: 1rem;
      right: 1.2rem; }
    @media screen and (max-width: 29.4375em) {
      .header__nav {
        margin-left: auto; } }
  .header__img {
    border-radius: 50%;
    height: 3.75rem;
    margin-right: 1rem; }
  .header__nav__icon {
    width: 2.25rem;
    height: 2.25rem; }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar__nav {
    margin-top: 2rem; }
    @media screen and (max-width: 45.625em) {
      .sidebar__nav {
        margin-top: 0; } }
    .sidebar__nav__list {
      list-style: none;
      margin-top: 1rem; }
      @media screen and (max-width: 45.625em) {
        .sidebar__nav__list {
          display: flex;
          flex-direction: row;
          margin-top: 0; } }
    .sidebar__nav__item {
      display: block;
      position: relative;
      padding: 0.5rem 0; }
      .sidebar__nav__item:not(:last-child) {
        margin-bottom: 1.5rem; }
      .sidebar__nav__item::before, .sidebar__nav__item-active::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background-color: var(--color-Primary-light);
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
      .sidebar__nav__item:hover::before, .sidebar__nav__item-active::before {
        transform: scaleY(1);
        width: 100%; }
      @media screen and (max-width: 45.625em) {
        .sidebar__nav__item {
          flex: 1;
          text-align: center; }
          .sidebar__nav__item:not(:last-child) {
            margin-bottom: 0; } }
    .sidebar__nav__link {
      text-decoration: none;
      position: relative;
      padding: 0.5rem;
      z-index: 2; }
      .sidebar__nav__link:link, .sidebar__nav__link:visited {
        color: var(--color-Grey-light-4);
        font: inherit;
        font-size: 1.6rem;
        display: flex;
        align-items: center; }
        @media screen and (max-width: 33.8125em) {
          .sidebar__nav__link:link, .sidebar__nav__link:visited {
            flex-direction: column; } }
        @media screen and (max-width: 34.8125em) {
          .sidebar__nav__link:link, .sidebar__nav__link:visited {
            font-size: 1.2rem; } }
  .sidebar__icon {
    width: 2.1rem;
    height: 2.1rem;
    margin: 0 1rem;
    fill: var(--color-Grey-light-4); }
    @media screen and (max-width: 34.8125em) {
      .sidebar__icon {
        margin: 0 0.2rem;
        height: 1rem;
        width: 1rem; } }

.copyright {
  font-size: 1.2rem;
  margin: 1rem; }
  @media screen and (max-width: 45.625em) {
    .copyright {
      display: none; } }

.gallery {
  display: flex; }
  .gallery__img {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-Grey-light-1);
  border-bottom: 1px solid var(--color-Grey-light-4); }
  .overview__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-Primary); }
    @media screen and (max-width: 34.8125em) {
      .overview__icon {
        width: 1rem;
        height: 1rem;
        fill: var(--color-Primary); } }
  .overview__stars {
    margin-right: auto; }
  .overview__heading {
    font-weight: 300;
    padding: 0.2rem 1.4rem; }
    @media screen and (max-width: 34.8125em) {
      .overview__heading {
        padding: 0;
        font-size: 1.5rem; } }
  .overview__link {
    display: flex;
    margin-right: 2.8rem;
    font-size: 1.2rem; }
    @media screen and (max-width: 34.8125em) {
      .overview__link {
        margin: 0.4rem; } }
  .overview__ratings {
    background-color: var(--color-Primary);
    align-self: stretch;
    color: #fff;
    padding: 0.5rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem; }
    .overview__ratings__total {
      font-size: 2rem; }

.btn-link {
  border: none;
  font: inherit;
  color: var(--color-Primary);
  border-bottom: 1px solid currentColor;
  background-color: var(--color-Grey-light-1);
  cursor: pointer; }
  .btn-link:hover {
    color: var(--color-Grey-dark-2); }
  .btn-link:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

@media screen and (max-width: 48.75em) {
  .top-comments {
    flex: 1;
    margin-top: 2rem; } }

.detail {
  display: flex;
  padding: 2rem;
  background-color: var(--color-Grey-light-3);
  border-bottom: 2px solid var(--color-Grey-light-4); }
  @media screen and (max-width: 48.75em) {
    .detail {
      flex-direction: column; } }

.description {
  flex: 0 0 60%;
  background-color: #fff;
  padding: 2rem;
  font-size: 1.3rem; }
  @media screen and (max-width: 48.75em) {
    .description {
      flex: 1; } }
  .description__para {
    margin-bottom: 2rem; }
  .description__features {
    border-bottom: 1px solid var(--color-Grey-light-4);
    border-top: 1px solid var(--color-Grey-light-4);
    padding: 2rem 0rem; }
  .description__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around; }
  .description__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
    text-align: left; }
    .description__item::before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      padding: 0.5rem;
      margin-right: 0.5rem;
      background-color: var(--color-Primary);
      -webkit-mask-image: url("../img/chevron-thin-right.svg");
      mask-image: url("../img/chevron-thin-right.svg");
      -webkit-mask-size: 100%;
      mask-size: 100%;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat; }
  .description__suggestions {
    display: flex;
    padding: 2rem 1rem; }
    .description__suggestions__comments {
      flex: 0 0 50%;
      margin-right: auto; }
    .description__suggestions__image {
      box-sizing: content-box;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 3px solid #fff; }
      .description__suggestions__image:not(:last-child) {
        margin-right: -1rem; }

.review {
  background-color: #fff;
  position: relative;
  padding: 3rem; }
  .review:not(:last-child) {
    margin-bottom: 2rem; }
  .review__imgbox {
    display: flex;
    margin-top: 2rem; }
  .review__user {
    margin-right: auto;
    display: flex; }
  .review__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 0.9rem; }
  .review__rating {
    color: var(--color-Primary);
    font-size: 2.25rem; }
  .review::before {
    content: "\201C";
    position: absolute;
    display: inline-block;
    color: var(--color-Grey-light-3);
    padding: 0;
    top: -1.5rem;
    left: 0;
    font-family: sans-serif;
    font-size: 14rem;
    line-height: 1;
    z-index: 1; }
  .review__text {
    display: inline-block;
    text-align: left;
    position: relative;
    z-index: 10; }
  .review__button__span {
    margin-left: 3px;
    transition: margin-left 0.2s; }
  .review__button:hover .review__button__span {
    margin-left: 8px; }

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; }
  .cta__text {
    font-size: 2rem;
    padding: 2rem; }
  .cta__button {
    margin-bottom: 2rem; }

.btn {
  background-image: linear-gradient(to right, var(--color-Primary-light), var(--color-Primary-dark));
  position: relative;
  color: #fff;
  text-align: center;
  padding: 2rem 6.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  overflow: hidden; }
  .btn:focus {
    animation: pulsate 1s infinite; }
  .btn__visible {
    display: inline-block;
    transition: all 0.2s; }
  .btn__invisible {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    transition: all 0.2s; }
  .btn:hover .btn__visible {
    transform: translateY(250%); }
  .btn:hover .btn__invisible {
    top: 50%;
    left: 50%; }

.container {
  min-height: 50rem;
  max-width: 100rem;
  background-color: var(--color-Grey-light-2);
  margin: 8rem auto;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.4); }
  @media screen and (max-width: 62.5em) {
    .container {
      margin: 0;
      width: 100%; } }

.header {
  min-height: 6.5rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-Grey-light-4); }

.main {
  display: flex; }
  @media screen and (max-width: 45.625em) {
    .main {
      flex-direction: column; } }

.sidebar {
  flex: 0 0 20%;
  background-color: var(--color-Grey-dark-1);
  color: #fff; }

.hotel-content {
  flex: 1; }

.top-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 1rem;
  padding: 0 3rem; }
